.home-content {
    min-height: 100vh;
}

.road-image{
    background-image: url("../images/road.svg");
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.go-button {
    position: relative;
    top: 300px;
    margin-left: 45%;
    font-family: "Palatino", serif;
    border-style: none;
    font-size: 70px;
    background-color:transparent;
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.go-button:hover {background-color: #3e8e41}

.go-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.origin-input{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
}

.dest-input{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid darkgreen;
}


.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    background-color: #4CAF50;
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }