.home-content {
    min-height: 100vh;
}

.home-images-container {
    width: 800px;
    margin: 0 auto;
}

.home-small-image {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 200px;
}
.road-image{
    position: fixed;
    left: 30px;
    width: 750px;
}
.dest-small-image {
    position: fixed;
    width: 200px;
    top: 400px;
    left: 500px;
}
.go-button {
    position: fixed;
    top: 270px;
    left: 280px;
    width: 80px;
    height: 40px;
    font-family: "Palatino", serif;
    border-style: none;
    font-size: 70px;
    background-color:transparent;
}

.origin-input{
    position: fixed;
    top: 200px;
    left: 100px;
}

.dest-input{
    position: fixed;
    top: 530px;
    left: 620px;
}