.home-content {
    min-height: 100vh;
}

.road-image{
    background-image: url("../images/road.svg");
    height: 800px;
    width: 1000px;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.go-button {
    position: relative;
    top: 45%;
    left: 45%;
    font-family: "Palatino", serif;
    border-style: none;
    font-size: 70px;
    background-color:transparent;
}

.origin-input{
    position: relative;
    top: 30%;
    left: 13%;
}

.dest-input{
    position: relative;
    top: 75%;
    left: 50%;
}